<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Any City Weather Conditions</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>

<body>
    <h1>Show Weather Conditions in any city in the world</h1>
    <form action="/weather">
        <input type="text" name="city" id="city" placeholder="Type the city name" />
        <button type="submit">Show</button>
    </form>
</body>

</html>
